* {
  margin: 0;
  padding: 0;
}

#root {
  background: rgb(43, 33, 24);
}
.body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
  user-select: none;
}

.white {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 64px;
  height: 64px;
  background: rgba(237, 197, 176, 0.8);
  color: black;
}

.black {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 64px;
  height: 64px;
  background: rgba(30, 15, 13, 0.8);
  color: aliceblue;
}

.figure {
  background-color: transparent;
  /* position: absolute; */
  width: 45px;
  height: 45px;
  align-items: center;
  cursor: grab;
}

.id {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

/* .id-str {
  align-self: flex-start;
}
.id-num {
  align-self: flex-end;
} */
