* {
  margin: 0;
  padding: 0;
}

#root {
  background: rgb(71, 68, 72);
}
.header {
  width: 100%;
  height: 50px;
  background-color: rgba(45, 35, 46);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.nav {
  font-family: "Zen Kaku Gothic New", serif;

  margin: 10px;
  color: rgba(224, 221, 207);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.helps {
  font-family: "Zen Kaku Gothic New", serif;
  font-style: normal;
  color: rgb(83, 75, 82);
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 52%;
  padding: 5px;
}

.body-chess {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.settings {
  width: 150px;
  height: 812px;
  border-radius: 10px;
  background-color: rgba(45, 35, 46);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.board {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 672px;
  height: 672px;
  user-select: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 84px;
  height: 84px;
  box-shadow: inset 0 0 50px 5px rgba(0, 0, 0, 0.253);
}

.white {
  background: rgba(241, 240, 234);
}

.black {
  background: rgba(83, 75, 82);
}

.target-attack {
  pointer-events: none;
  justify-content: center;
  position: fixed;
  width: 84px;
  height: 84px;
  background: rgba(222, 3, 47, 0.253);
}
.target {
  pointer-events: none;
  justify-content: center;
  position: fixed;
  width: 84px;
  height: 84px;
  background: rgba(0, 105, 252, 0.14);
}
.active {
  pointer-events: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: grey;
}
.active:hover {
  pointer-events: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(231, 12, 12);
}
.over {
  pointer-events: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(231, 12, 12);
}

.figure {
  background-color: transparent;
  width: 70px;
  height: 70px;
  cursor: grab;
}

.id {
  margin-left: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  font-family: "Poppins", serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.lose-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: rgba(224, 221, 207);
  width: 150px;
  height: 672px;
  user-select: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.lose-board img {
  margin: 5px;
  height: 25px;
  width: 25px;
}
